@media (max-width: 750px) {

main .main-container #herois section {
width: 200px;
margin: 10px 10px;
padding: 10px;
}
main .main-container #herois section picture {
width: 180px;
height: 180px;      
}

}

@media (max-width: 720px) {

header .header-container nav a {
    font-size: 3em;
}
main .main-container .nav-herois .busca-container input {
    width: 150px;
    height: 20px;
    font-size: 0.9em;
}
main .main-container .nav-herois h1 {  
    font-size: 1.6em; 
}
h1 span {
    font-size: 1.2em;
}
main .main-container #herois section {
    width: 200px;
}
main .main-container #herois section picture {
    width: 180px;
    height: 180px;
}
main .main-container #herois section h2 {
    font-size: 1.2em;
}
main .main-container #herois section p {
    font-size: 1.2em;
}
.remove {
    display: none;
}
main #filmes .filmes ol {
    column-count: 1;
}
}

@media (max-width: 660px) {

main .main-container #herois section {
    width: 250px;
    margin: 10px 10px;
    padding: 10px; 
}
main .main-container #herois section picture {
    width: 230px;
    height: 230px;      
}
}
@media (max-width: 540px) {

header .header-container .logo {
    width: 150px;
    height: 60px;
}
header .header-container .logo img {
    width: 100%;
    height: 100%;
}
#nav-list.bnt-active {
    text-align: center;
    height: 240px;
    visibility: visible;
    overflow-y: auto;
    font-size: 0.8em;
}
header .header-container nav  {
    /*display: none;*/
    position: absolute;
    display: block;
    background-color: #EC1D24;
    top: 80px;
    right: 0;
    width: 35vw;
    height: 0;
    text-align: center;
    visibility: hidden;
    overflow-y: hidden;
    transition: .4s ease-in;
}
header .header-container .nav-container nav a p {
    padding: 1rem 1rem;   
    border-bottom: 2px solid #ff5858;
}
header .header-container .nav-container i {
    font-size: 2em;
    display: inline-block;
}
main .main-container .nav-herois .busca-container input {
    width: 250px;
}
main .main-container .nav-herois{
    flex-direction: column;
}
main .main-container #herois h3{
    font-size: 2.0em;
}
main .main-container #herois section {
    width: 365px;     
}
main .main-container #herois section picture {
    width: 345px;
    height: 345px;      
}
main #filmes h1 {
    font-size: 1.6em;
}
main #filmes .filmes ol li{
    font-size: 1.1em;
}
main #site h1 {
    font-size: 1.6em;
}
aside ul li a img {
    width: 35px;
    height: 35px;
}
}

@media (max-width: 370px){

#nav-list.bnt-active {
    text-align: center;
    height: 220px;
    font-size: 0.7em;
}
main .main-container .nav-herois h1 {
    font-size: 2em;
    text-align: center;
}
main .main-container #herois section {
    width: 300px;
    margin: 10px 10px;
    padding: 10px;        
}
main .main-container #herois section picture {
    width: 280px;
    height: 280px;      
}
}